@{
    ViewData["Title"] = "Αρχική";
}

<div id="background">

</div>

<div class="row">
    <div class="col-md-2">
        <img src="~/images/Logo.jpg" width="200" height="200" />
        <h4>Μελέτη και σχεδιασμός</h4>
        <p>
            Επικοινωνήστε μαζί μας για την από κοινού μελέτη και προσαρμογή των επιλογών σας στον χώρο σας.
        </p>
    </div>
    <div class="col-md-2">
        <img src="~/images/Logo.jpg" width="200" height="200" />
        <h4>Δειγματισμός</h4>
        <p>
            Επιλέξτε χρώματα και υλικά από την πλούσια γκάμα μας για την κατασκευή του επίπλου της αρεσκείας σας.
        </p>
    </div>
    <div class="col-md-2">
        <img src="~/images/Logo.jpg" width="200" height="200" />
        <h4>Κατασκευή</h4>
        <p>
            Τα ηνία αναλαμβάνουμε εμείς για την εκτέλεση της παραγγελίας σας με επαγγελματισμό, τέχνη και μεράκι.
        </p>
    </div>
    <div class="col-md-2">
        <img src="~/images/Logo.jpg" width="200" height="200" />
        <h4>Παράδοση</h4>
        <p>
            Παράδοση και τοποθέτηση των προϊόντων στον χώρο σας.
        </p>
    </div>
</div>
