
@{
    ViewData["Title"] = "Πιλιτική Απορρήτου";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="aboutbody">
    <div class="aboutitem">
        <div class="aboutitemleft">
            <div class="aboutitemimg">
                <div class="aboutimg-container"><img src="~/images/Logo.jpg" alt="logo" height="60%" width="60%" /></div>
            </div>
        </div>
        <div class="aboutitemright">
            <div class="aboutitemtextr">
                <h2>Πολιτική Απορρήτου</h2><br />
                <h4>Cookies</h4>
                <p>
                    Τα Cookies είναι μικρά αρχεία κειμένου αποθηκευμένα  στον υπολογιστή σας από την επίσκεψή σας στην ιστοσελίδα. Τα Cookies συνήθως θυμούνται τις προσωπικές σας ρυθμίσεις και τις ρυθμίσεις ιστοσελίδας, όπως η επιθυμητή σας γλώσσα ή διεύθυνση. Αργότερα, όταν  θα επισκεφθείτε ξανά την ίδια ιστοσελίδα, ο περιηγητής σας επιστρέφει αυτά τα αρχεία κειμένου σε αυτήν την ιστοσελίδα. Αυτό επιτρέπει στην ιστοσελίδα να προβάλλει πληροφορίες προσαρμοσμένες στις προτιμήσεις σας.
                </p><br />
                <h4>Προσωπικά Δεδομένα</h4>
                <p>
                    Η εταιρεία μας σέβεται και προστατεύει τα προσωπικά σας δεδομένα. Επιθυμούμε η περιήγηση στον ιστότοπό μας να σας παρέχει μία πρώτης τάξεως επαφή με την Βιοτεχνία και την δουλειά μας. Για τον λόγο αυτό θεωρούμε πως δεν υπάρχει λόγος να αποθηκεύσουμε οποιαδήποτε προσωπική σας πληροφορία καθώς ο ιστότοπος αποτελεί εργαλείο πληροφόρησης σας.
                </p>
            </div>
        </div>
    </div>
</div>