@{
    ViewData["Title"] = "PAOK";
    Layout = null;
}

<!DOCTYPE html>
<html lang="el">
<head>
    <meta charset="utf-8" />
    <meta name="description" content="Συνεργείο κατασκευής και τοποθέτησης επίπλων" />
    <meta name="keywords" content="Μαραγκός,επιπλοποιός,έπιπλα,έπιπλα,κουνίνα,κουζίνες,ξυλουργείο,Λεπτοκαρυά,Πιερία,Κατερίνη,καρέκλα,τραπέζι,καναπές,ντουλάπα,ράφια,ξύλα,mdf" />
    <meta name="author" content="Giannis Kalios (johnnys495@hotmail.com)" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/mystyles.css" />
    <title>Error 404 - Έπιπλα Παπαγεωργίου</title>
</head>
<body>
    <div class="errorpage">
        <div class="errorimg"></div>
        <div class="errortext">
            Oops! <br />
            Looks like you've followed a wrong link.<br />
            Please check your url and try again.<br /><br />
            <a class="mybutton" href="/">Αρχική</a>
        </div>
    </div>
</body>
</html>
