
@{
    ViewData["Title"] = "Επικοινωνία";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="contact-page">
    <div id="map">
        <iframe frameborder="0" style="border:0;width:100%;height:100%"
                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCY1rhMiZPkwPN1IPgFb8W7xfhdj9JDlMU&center=40.023111,22.5710296&zoom=16&q=Έπιπλα+Παπαγεωργίου">

        </iframe>
    </div>
    <div class="row width60">
        <div class="col-md-4">
            <img src="~/images/bubble5.png" alt="τηλέφωνο" width="150" height="150" />
            <h4>Τηλεφωνικώς</h4>
            <p>
                Τηλ: <a href="tel:+302352033355">23520 33355</a><br />
                FAX: 23520 33355<br />
                Κιν: <a href="tel:+306945749940">694 5749 940</a>
            </p>
        </div>
        <div class="col-md-4">
            <img src="~/images/bubble6.png" alt="διεύθυνση" width="150" height="150" />
            <h4>Διεύθυνση</h4>
            <p>
                Θέση Κυριαζή,<br />
                Σκοτίνα
            </p>
        </div>
        <div class="col-md-4">
            <img src="~/images/bubble7.png" alt="ηλεκτρονικά" width="150" height="150" />
            <h4>Ηλεκτρονικά</h4>
            <p>
                <a href="mailto:info@papageorgiou-furniture.gr" target="_blank">info@papageorgiou-furniture.gr</a>
                <br /><a href="https://www.facebook.com/epiplapapageorgiou/" target="_blank">Facebook</a>
                <br /><a href="https://www.instagram.com/epipla_papagewrgiou/" target="_blank">Instagram</a>
            </p>
        </div>
    </div>