
@{
    ViewData["Title"] = "Επικοινωνία";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="contact-page">
    <div id="map">
        <iframe frameborder="0" style="border:0;width:100%;height:100%"
                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCY1rhMiZPkwPN1IPgFb8W7xfhdj9JDlMU&center=40.023111,22.5710296&zoom=16&q=Έπιπλα+Παπαγεωργίου">

        </iframe>
    </div>
    <div class="contact-info">
        <div class="infobox">
            <img src="~/images/Logo.jpg" width="200" height="200" />
            <h3>Τηλεφωνικώς</h3>
            Τηλ: 23520 33355<br />
            FAX: 23520 33355<br />
            Κιν: 694 5749 940
        </div>
        <div class="infobox">
            <img src="~/images/Logo.jpg" width="200" height="200" />
            <h3>Διεύθυνση</h3>
            <br />Θέση Κυριαζή,<br />
            Σκοτίνα
        </div>
        <div class="infobox">
            <img src="~/images/Logo.jpg" width="200" height="200" />
            <h3>Ηλεκτρονικά</h3>
            <br />Email: info@papageorgiou-furniture.gr
            <br />FB: facebook.com/link
            <br />Insta: instagram.com/link
        </div>
    </div>
</div>
