
@{
    ViewData["Title"] = "Η εταιρεία μας";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="aboutbody">
    <div class="aboutitem">
        <div class="aboutitemleft">
            <div class="aboutitemimg">
                <div class="aboutimg-container"><img src="~/images/Logo.jpg" alt="logo" height="65%" width="65%" /></div>
            </div>
        </div>
        <div class="aboutitemright">
            <div class="aboutitemtextr">
                <h3>Η εταιρεία</h3>
                <p>
                    Η Βιοτεχνία Έπιπλα Παπαγεωργίου-Παπαγεωργίου Δημήτριος αναλαμβάνει την επίπλωση τόσο του σπιτιού σας όσο και του επαγγελματικού σας χώρου καθώς και ξενοδοχείων.
                    Όλα τα έπιπλα είναι δικής μας κατασκευής και τα υλικά επιπλοποιϊας 100% ΕΛΛΗΝΙΚΑ!
                    Για κάθε προΐόν υπάρχει η δυνατότητα τόσο της αλλαγής των διαστάσεων με βάση τις ανάγκες σας, όσο και της επιλογής των χρωμάτων από μια μεγάλη γκάμα επιλογών με την οποία μπορείτε να έρθετε σε επαφή μέσω της γνωριμίας σας μαζί μας.</p>

            </div>
        </div>
    </div>
    <div class="aboutitem">
        <div class="aboutitemleft">
            <div class="aboutitemtextl">
                <h3>Το εργαστήριο</h3>
                <p>Η βιοτεχνία μας από το 2010 μεταφέρθηκε σε ένα νέο σύγχρονο ιδιόκτητο χώρο 300τ.μ. στον οποίο πραγματοποιείται ο δειγματισμός σας κάπως και η κατασκευή και αποθήκευση των επίπλων της επιλογής σας.</p>
            </div>
        </div>
        <div class="aboutitemright">
            <div class="aboutitemimg">
                <div class="aboutimg-container"><img src="~/images/viotexnia/008.jpg" alt="βιοτεχνία" height="100%" width="100%" /></div>
            </div>
        </div>
    </div>
</div>