@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Ξέχασα τον κωδικό μου";
}

<h3 class="centerp">@ViewData["Title"]</h3>
<hr />
<div class="row centerp">
    <div class="col-md-4 centerch">
        <form method="post">
            <div class="form-group">
                <label asp-for="Input.Email">Συμπλήρωσε το email σου</label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="mybutton">Επιβεβαίωση</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
